@media (max-width: $screen-xs-max) {
	.center-xs,
	.xs-center {
		text-align:center!important;
	}
	.block-xs,
	.xs-block {
		display: block!important;
		clear:both;
	}
    body {
        font-size: 1.6em;
    }
}