$breakpoints: (
  small : 480px,
  medium: 700px,
  large : 1024px
);

$p-font-sizes: (
  null  : (18px, 1.3),
  small : 19px,
  medium: (20px, 1.4),
  900px : 21px,
  large : (23px, 1.45),
  1440px: 23px,
);

$h1-font-sizes: (
  null  : (32px, 1.3),
  small : 30px,
  medium: (32px, 1.4),
  900px : 34px,
  large : (36px, 1.45),
  1440px: 36px,
);

@mixin font-size($fs-map, $fs-breakpoints: $breakpoints) {
  @each $fs-breakpoint, $fs-font-size in $fs-map {
    @if $fs-breakpoint == null {
      @include make-font-size($fs-font-size);
    }
    @else {
      @if map-has-key($fs-breakpoints, $fs-breakpoint) {
        $fs-breakpoint: map-get($fs-breakpoints, $fs-breakpoint);
      }
      @media screen and (min-width: $fs-breakpoint) {
        @include make-font-size($fs-font-size);
      }
    }
  }
}

@mixin make-font-size($fs-font-size) {
  @if type-of($fs-font-size) == "list" {
    font-size: nth($fs-font-size, 1);
    @if (length($fs-font-size) > 1) {
      line-height: nth($fs-font-size, 2);
    }
  }
  @else {
    font-size: $fs-font-size;
  }
}

p, li, a {
  @include font-size($p-font-sizes);
}

h1 {
  @include font-size($h1-font-sizes);
}