@import "bootstrap",
		"mixins",
		"typography",
		"mobile",
		"footer",
		"devicons";

// @import url("//fonts.googleapis.com/css?family=Gentium+Basic|Crimson+Text|Quattrocento|Gudea"),
// @import url("//cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css");
@import url("//maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css");


body {
	font-family:'Gudea', sans-serif;
	font-size: 2.1em;
	min-height: 2000px;
	line-height:167%;
		-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

ul {
	@media screen and (max-width: $screen-xs-max) {
		padding-left:20px!important;
	}
	
	&.ul-social.list-inline {
	    margin: 1.1% auto;
	    line-height:1;
	}
}

.navbar {
	margin-bottom: 0;

	.navbar-brand {
		font-family: 'Gentium Basic', serif;
		// font-size: 1.8em;
		line-height:0.7;
		font-size: 1.2em;
		text-align: center;
		@extend .visible-xs;
		@media screen and (max-width: $screen-xs-max) {
			font-size:1.555em;
		}
	}
	.navbar-nav {
		@media screen and (min-width: $screen-xs-max) {
			float:none!important;
			display:table;
			margin:0 auto;
		}
	}
}


h1 {
    margin: 1.1% auto;
}

h2,
h4 {
	font-family:'Quattrocento'!important;
}


h2.header {
    border-bottom: 3px solid #eee;
    padding: 4px 4px 0 4px;
    text-align: center;
    font-variant: small-caps;
    font-size: 2em;
    color: #444;
    font-weight: 700;
    margin: 0;
}


a {
	&:hover, &:focus {
    	text-decoration: none!important;
    	color:#337ab7!important;
    }
}


.jumbotron {
	background: #333 url('../static/pattern.png') repeat;
	background-attachment: fixed;
	color: #fff;
	height: 100vh;
	padding-bottom: 0!important;
	margin-bottom: 0;
	padding-top:98px;
}

.jumbotron-text {
	vertical-align: middle;
	position: relative;
    h4 {
        font-weight:normal;
        color:#aaa;
    }
}

.jumbotron-social {
	position:absolute;
	bottom:0;
	left:0;
	right:0;
	z-index:1;

	.fa {
		// font-size:1.7em;
        color:#ffffff;
	}

	.social {

		.fa {
			font-size: 1.3em;
		    margin: 0;
		    padding: 4px 7px;

		}
	}

	.down-arrow {
		margin: 12px;

		.fa {
			font-size:1.7em;
			@media screen and (max-width: $screen-xs-max) {
			    font-size:90%;
		    }
		}
	}
}

.list-inline {
	padding-left:0!important;
}


i.intext {
    font-size: 2em;
    display: inline;
    vertical-align: middle;
    margin: 0;
    padding: 0;
    line-height: 0;
}


.main-content {
	margin: 48px 0 24px;
}
.content-body {
	padding-top:12px;
}
.project-image {
	margin-top:20px;
	box-shadow: 0 1px 4px #aaa;
	@media screen and (max-width: $screen-xs-max) {
		width:80%;
		height:auto!important;
	}
}

.project-card {
	@extend .is-table-row;
	padding-top:0;
	padding-bottom:20px;
	@media screen and (max-width: $screen-xs-max) {
		margin-bottom:48px;
	}
}
.project-content {
		label {
			@extend .alert,.alert-warning;
			margin-right:15px;
			width:75px;
			line-height: 1;
			padding:10px!important;

		}
		a {
			font-size:0.9em;
			&:hover, &:active {

			}
	}
	p{
		vertical-align: middle;
	}
}
.card {
	padding-top: 33px;
}

.card-header > h4 {
	margin-top: 0;
	font-weight: bold!important;
	font-size: 1.3em;
}

.avatar-container {
	font-family: 'Quattrocento', serif;
	text-align: center;
    display:inline-block;
    z-index:99;

	h1 {
		text-align: center;
	}

    img.avatar {
	    @extend .img-responsive;
		margin: 0 auto;
		display: block;
		width:33vh;
		max-width:70%!important;
		// width: 250px;
		// height: 250px;
		background: #fff;
		-webkit-box-shadow: -1px 3px 3px rgba(0, 0, 0, 0.3);
		-moz-box-shadow: -1px 3px 3px rgba(0, 0, 0, 0.3);
		box-shadow: -1px 3px 3px rgba(0, 0, 0, 0.3);
		-webkit-border-radius: 100%;
		-moz-border-radius: 100%;
		border-radius: 100%;
	}
}


form {
	input[type="text"] {
		font-size:16px;
	}
	textarea {
		min-height:300px;
	}
}


/* vertical center */
.container-fluid.jumbotron {
    display: flex;
    justify-content: center;
    align-items: center;
}



.jumbotron.vertical-center {
  margin-bottom: 0; /* Remove the default bottom margin of .jumbotron */
}

.vertical-center {
    min-height: 100%;
    min-height: 100vh;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-align : center;
    -webkit-align-items : center;
    -moz-box-align : center;
    -ms-flex-align : center;
    align-items : center;
    width: 100%;
    -webkit-box-pack : center;
    -moz-box-pack : center;
    -ms-flex-pack : center;
    -webkit-justify-content : center;
    justify-content : center;
}

.attributions {
    padding-top:100px;
    padding-bottom:75px;
    .icon {
    	font-size:3em;
    }
    p {
        margin-bottom:0;
        line-height:2em;
        .fa-heart {
        	font-size:1.5em;
        	text-align: center;
        	display: block;
        }
    }

}

.is-table-row {
	@media screen and (min-width: 768px) {
		display:table;
		min-width:100%;
	}

	[class*="col-"] {
		float: none !important;
		display: table-cell;
		vertical-align: middle;
		@media screen and (max-width: $screen-xs-max) {
			display:table;
			min-width:100%;
		}
	}
}

.padded {
	padding-top:22px;
	padding-bottom:22px;
}

.grayscale {
  -webkit-filter: grayscale(1);
  filter: gray;
  filter: grayscale(1);
  opacity:0.7;
}
.anchor {
    display: block;
    visibility: hidden;
    top: -50px;
    position: relative;
    @media (max-width: $screen-xs-max) {
    	top: -65px;
    }
}
.job-title {
	font-size:0.8em;
	color:#337ab7;
	margin-left:12px;
    @media (max-width: $screen-xs-max) {
    	display: block;
    	margin-left:0;
    }
}

.skills-content {
	@extend .padded;
}
.skills {
	@extend .list-inline!optional;
	text-align:center;
	margin-top:24px;
	.skill {
		@extend .alert,.alert-warning;
		line-height:1px;
	}
}
.spacer {
	@extend .center-block;
	margin-top:48px;
}